@use './colors' as color;

@mixin BurgerBtn {
	position: absolute;
	right: 0;
	height: 3px;
	content: '';
	background-color: color.$pure-white;
	// background-color: red;
	transition: width 0.3s;
}

@mixin heroImage($bgImg) {
	background-image: color.$blue-gradient, url($bgImg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
@mixin IsnladCardStyle{
	position: absolute;
				left: 50%;
				transform: translateX(-50%);
}