@use './colors' as color;
@use './componet' as *;
@use './mixins' as mix;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
}
//Navigation//

.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 100;

	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}

	&:focus {
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 8px;
	}
	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}
	&__bars,
	&__bars::after,
	&__bars::before {
		@include mix.BurgerBtn;
	}
	&__bars {
		width: 100%;
		&::after {
			top: 13px;
			width: 60%;
		}
		&::before {
			top: 27px;
			width: 30%;
			transition-delay: 0.1s;
		}
	}
}
.nav {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	transform: translateX(100%);
	transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	background-image: color.$blue-gradient-solid;
	z-index: 100;

	&--active {
		transform: translateX(0);
	}

	&__item {
		position: relative;
		display: block;
		margin: 0.5em 0;
		padding: 0.5em 2.5em;
		font-size: 2.8rem;
		color: color.$pure-white;
		text-decoration: none;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 3px;
			height: 100%;
			transform: scaleY(0);
			background-color: color.$pure-white;
			transition: transform 0.3s;
			content: '';
		}
		&:hover::before {
			transform: scaleY(1);
		}
	}
}
@keyframes NavItemAnimation {
	from {
		transform: translateX(200%);
	}
	to {
		transform: translateX(0%);
	}
}
.nav-item-animation {
	animation: NavItemAnimation 1s both;
}
// HEADER

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	height: 75vh;
	text-align: center;
	color: color.$pure-white;
	@include mix.heroImage('../../img/palm_mobilie.jpg');
	background-attachment: scroll;

	&__heading {
		font-family: Dancing Script, cursive;
		font-size: 4.8rem;
		font-weight: 400;
	}
	&__text {
		font-size: 1.4rem;
	}
	&__btn {
		margin: 2em;
		padding: 0.8em 1.6em;
		font-size: 1.4rem;
		background-color: color.$pure-white;
		border: none;
		border-radius: 8px;
		color: color.$dark;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;

		&::before {
			background-color: color.$light-white;
		}
	}
}
// MAIN
// DREAMS SECTION
.dreams {
	&__box {
		display: flex;
		flex-direction: column;
		margin: 2em 0;
	}
	&__img {
		width: 100%;
		margin-bottom: 1em;
	}
	&__title {
		margin-bottom: 0.5em;
	}
	&__text {
		font-size: 1.4em;
	}
}
// HERO IMG
.hero-img {
	position: relative;
	padding: 10em 2em;
	@include mix.heroImage('../../img/paradise-598201_640.jpg');
	text-align: center;
	color: color.$pure-white;
	overflow: hidden;
	&__title {
		font-family: 'Dancing Script', cursive;
		margin-bottom: 0.5em;
		font-size: 4.8rem;
	}
	&__text {
		padding: 1em 0;
	}
	hr {
		color: color.$pure-white;
	}
}
// ------------>
// --Island---
// <-----------
.islands {
	&__card {
		position: relative;
		margin: 1em 0;
		height: 450px;
		color: color.$pure-white;
		text-align: center;
		perspective: 1000px;
		&:hover {
			.islands__card-img {
				transform: rotateY(-180deg);
				opacity: 0;
			}
			.islands__card-info {
				transform: rotateY(0deg);
				opacity: 1;
			}
		}
		&-img {
			padding: 2em;
			height: 100%;
			border-radius: 8px;
			background-size: cover;
			transition: transform 1s, opacity 1s;
			&-title {
				font-family: Dancing Script, cursive;
				font-size: 2.8rem;
			}

			&--first {
				background-image: color.$light-blue-gradient, url(../../img/water-3354063_640.jpg);
			}
			&--second {
				background-image: color.$blue-gradient, url(../../img/hawaii-79928_640.jpg);
			}
			&--third {
				background-image: color.$purple-gradient, url(../../img/water-3354063_640.jpg);
			}
			&-info {
				position: absolute;
				bottom: 40px;
				right: 30px;
				font-size: 1.8rem;
			}
			i {
				margin-right: 1.3rem;
			}
		}
		&-info {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-image: color.$light-blue-gradient-solid;
			border-radius: 8px;
			opacity: 0;
			transform: rotateY(180deg);
			transition: transforms 1s, opacity 1s;

			&-title {
				@include mix.IsnladCardStyle;
				top: 1.2em;
				font-family: 'Dancing Script';
				font-size: 2.8rem;
			}
			&-list {
				margin: 0 auto;
				width: 70%;
				list-style: none;
				&-item {
					padding: 1em;
					font-size: 1.4rem;
					border-bottom: 1px solid color.$light-white;

					&:last-child {
						border-bottom: none;
					}
				}
			}
			&-btn {
				@include mix.IsnladCardStyle;
				bottom: 2em;
				padding: 1em;
				border-radius: 8px;
				width: 80%;
				border: none;
				background-color: color.$green-color;
				cursor: pointer;
				&::before {
					background-color: color.$green-color-hover;
				}
			}
		}
	}
}
// ------------>
// ---OFFERS---
// <-----------

.offers {
	position: relative;
	@include mix.heroImage('../../img/bora-bora-3023437_640.jpg');
	overflow: hidden;
	.section-heading {
		color: color.$pure-white;
	}

	&__option {
		margin: 1em 0;
		box-shadow: 5px 5px 10px #2e2e2e2e;
		background-color: color.$pure-white;
		overflow: hidden;

		&-img {
			width: 100%;
			transition: transforms 0.3s;
			&:hover {
				transform: scale(1.1);
			}
		}
		&-info {
			padding: 2em;
			background-color: color.$pure-white;
			z-index: 10;
		}
		&-heading {
			margin-bottom: 0.5em;
			font-size: 2.4rem;
			font-weight: 300;
		}
		&-text {
			margin-bottom: 0.5em;
			font-size: 1.3rem;
			color: color.$dark;
		}
		&-btn {
			margin-top: 1em;
			padding: 0.8em;
			width: 100%;
			color: color.$pure-white;
			background-color: color.$main-color;
			border: none;
			border-radius: 8px;
			cursor: pointer;
			&::before {
				background-color: color.$secondary-color;
			}
		}
	}
}

// ------------>
// ---MEDIA---
// <-----------
@media (min-width: 576px) {
	.dreams {
		&__box {
			flex-direction: row;
			justify-content: space-between;
			&-text {
				width: 55%;
				&--right {
					text-align: right;
				}
			}

			&-img {
				width: 40%;
				&--right {
					order: 1;
				}
			}
		}
	}
	.offers {
		&__option {
			display: flex;
			margin: 2em 0;
			width: 100%;
			&-img {
				width: 50%;
				height: auto;
				&--right {
					order: 1;
				}
			}
			&-info {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}
			&-heading {
				margin-bottom: 0.5em;
				font-size: 3.6rem;
				text-align: center;
				text-transform: uppercase;
			}
			&-btn {
				padding: 1em;
				text-transform: uppercase;
				font-weight: 700;
			}
		}
	}
}

@media (min-width: 768px) {
	.white-block {
		height: 50px;
		width: 45%;
	}
	.header {
		&__heading {
			font-size: 6.6rem;
		}
		&__text {
			font-size: 2.2rem;
		}
		&__btn {
			font-size: 1.6rem;
		}
	}
	.dreams {
		&__text {
			font-size: 1.8rem;
		}
	}
	.hero-img {
		padding: 30rem 2em;
		hr {
			margin: 0 auto;
			width: 70%;
		}
		&__text {
			font-size: 2.2rem;
		}
	}
	.islands {
		&__cards {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
		&__card {
			margin: 1em;
			width: 45%;
		}
	}
}
@media (min-width: 992px) {
	.burger-btn {
		top: 50px;
		right: 50px;
	}
	.header {
		background-image: color.$blue-gradient, url('../../img/palm.jpg');

		&__heading {
			font-size: 10rem;
		}
	}
	.nav {
		&__item {
			font-size: 4rem;
		}
	}
	.dreams {
		&__box {
			margin: 5em 0;
			&-text {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				margin-bottom: 2.5em;
			}
		}
		&__title {
			font-size: 3.6rem;
		}
		&__text {
			font-size: 2.2rem;
		}
	}
	.hero-img {
		padding: 40rem, 2em;
		@include mix.heroImage('../../img/paradise-598201_640.jpg');
		&__title {
			font-size: 7.2rem;
		}
		hr {
			width: 60%;
			max-width: 900px;
		}
	}
	.offers {
		@include mix.heroImage('../../img/bora-bora-3023437_1920.jpg');
		&__option {
			&-img {
				object-fit: cover;
				height: 300px;
			}
			&-text {
				font-size: 1.5rem;
			}
		}
	}
}
@media (min-width: 1100px) {
	.islands {
		&__card {
			width: 30%;
		}
	}
}
